@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #4d994d;
    width: 100%;
    background: white;
    height: 10vh;
    margin: 0;
    font-size: 40px;
    text-align: center;
}

body {
    display: flex;
    padding: 0;
    margin: 0;

}

header {
    position: fixed;
    width: 20vw;
    height:100vh;
    border-right: solid #4d994d 2px;
    background: #4d994d;
}
main{
    margin-left: 25vw;
    padding-top: 100px;
    width: 70vw;
}

ul a li {
    text-decoration: none;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 25px;
}

ul a {
    height: 100%;
    width: 100%;
    background: #4d994d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 1s;
    color: white;
}

ul a:hover {
    background: #368b36;
}

td{
    border: black solid 1px;
    height: 5vh;
    width: 10vw;
    padding-left: 10px;
}
table {
    border-radius: 10px 0px;
}
.tabTitle {
    background: #4d994d;
    color: white;
    border-radius: 10px 0px;
}
#DATE {
    border-radius: 10px 0 0 0;
}
#ALIMENTS {
    border-radius: 0 10px 0 0;
}
.champ {
    width: 100%;
}
.label {
    width: 50%;
    padding: 10px 0 5px 5px;
}
input{
    width: 50%;
}
form {
    padding: 20px;
    width: 30vw;
    background: #4d994d;
    color: white;
    border-radius: 10px;
}

